* {
    box-sizing: border-box;
}

.wrapper {
    width: 860px;
    margin: 30px auto;
    
}

header {
    background-color: orange;
}

.block {
    margin: 20px 0 50px 220px;
}

.sitename {
    margin-bottom: 10px;
    font: 20px Arial;
}

nav {
    display: flex;
    width: 600px;
}

.container {
    display: flex;
}

main {
    width: 660px;
    padding: 20px;
}

.right {
    width: 300px;
    margin-left: 20px;
    padding: 20px;
}

footer {
    padding: 30px 0;
    text-align: center;
    background-color: orange;
}

.block {
    margin: 20px 0 50px 10px;
}

.sitename {
    margin-bottom: 10px;
    font: 20px Arial;
}

nav {
    display: flex;
    width: 600px;
}

nav a {
    padding: 10px;
    color: white;
    text-decoration: none;
    font: 17px Arial;
}

nav a:hover, nav a:active {
    color: white;
    text-decoration: underline;
}

.active {
    color: red;
    text-decoration: underline;
}

main h1 {
    font: 20px "Times New Roman";
}

main p {
    margin: 10px 0;
    text-align: justify;
    font: 15px Arial;
}

table {
    width: 600px;
    border: 2px solid black;
    border-collapse: collapse;
}

td, th {
    border: 2px solid black;
}

caption {
    font-weight: bold;
    text-align: left;
    font: 14,5px "Times New Roman";
}

#bee2 {
    width: 600px;
    height: 375px;
}